body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: consolas;
}

html {
    color: white;
}

/* main menu */

.bg-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./Sprites/the_menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.the-intro {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./Sprites/intro.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.menu-title {
    position: absolute;
    top: 100px;
    left: 100px;
}

#menuContainer {
    position: absolute;
    left: 100px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#usernameInput {
    color: white;
    font-family: consolas;
    background-color: black;
    font-size: 30px;
    border: 1px solid gray;
    border-style: none none solid none;
    padding: 0px 0px 10px 0px;
}

#usernameInput:focus {
    color: white;
    font-family: consolas;
    background-color: black;
    font-size: 30px;
    border: 1px solid gray;
    border-style: none none solid none;
    outline: none;
}

#instructionBtn {
    margin-top: 20px;
    background-color: black;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    font-family: consolas;
    text-align: left;
    font-size: 40px;
}

#startBtn {
    cursor: pointer;
    margin-top: 50px;
    text-align: left;
    padding: 0;
    background-color: black;
    border: none;
}

#continueBtn {
    cursor: pointer;
    margin-top: 50px;
    text-align: left;
    padding: 0;
    background-color: black;
    border: none;
}

button:disabled {
    opacity: 0.5;
}

button {
    transition: .5s ease all;
}

button:hover {
    transform: scale(1.1) translateX(20px);
}

/* instruction */

#instructionContainer {
    display: none;
    align-items: start;
    justify-content: center;
    gap: 50px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 30px;
}

#closeInstructionBtn {
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* transition */

.the-transition {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
    opacity: 0;
    transition: 1.5s ease-in all;
    visibility: hidden;
}

.start-transition {
    opacity: 1;
    visibility: visible;
}

/* game */

#gameContainer {
    display: none;
}

canvas {
    border: 1px solid white;
}